Código/Node/node_modules
Código/Workspace_eclipse
Código/Imágenes_vehículos_dañados/Entrenamiento/espejo
Código/Imágenes_vehículos_dañados/Entrenamiento/faros
Código/Imágenes_vehículos_dañados/Entrenamiento/neumatico_pinchado
Código/Imágenes_vehículos_dañados/Entrenamiento/neumatico_sano
Código/Imágenes_vehículos_dañados/Entrenamiento/paragolpes
Código/Imágenes_vehículos_dañados/Entrenamiento/puerta
Código/Imágenes_vehículos_dañados/Entrenamiento/vehículos_sanos
Código/Imágenes_vehículos_dañados/Entrenamiento/vidrio_frontal
Código/Imágenes_vehículos_dañados/Entrenamiento/vidrio_lateral