Codigo/Node/node_modules
Codigo/Workspace_eclipse
Codigo/Imagenes_vehiculos_danados/Entrenamiento/espejo
Codigo/Imagenes_vehiculos_danados/Entrenamiento/faros
Codigo/Imagenes_vehiculos_danados/Entrenamiento/neumatico_pinchado
Codigo/Imagenes_vehiculos_danados/Entrenamiento/neumatico_sano
Codigo/Imagenes_vehiculos_danados/Entrenamiento/paragolpes
Codigo/Imagenes_vehiculos_danados/Entrenamiento/puerta
Codigo/Imagenes_vehiculos_danados/Entrenamiento/vehículos_sanos
Codigo/Imagenes_vehiculos_danados/Entrenamiento/vidrio_frontal
Codigo/Imagenes_vehiculos_danados/Entrenamiento/vidrio_lateral
Codigo/Imagenes_vehiculos_danados/Entrenamiento/puerta_chocada
Codigo/Python/.DS_Store
.DS_Store
Codigo/.DS_Store
Codigo/Imagenes_vehiculos_danados/.DS_Store
Codigo/Imagenes_vehiculos_danados/Entrenamiento/.DS_Store